@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap
");
*
{
padding:
0px;
margin:
0px;
border:
0px;
}

*,
*:before,
*:after
{
-webkit-box-sizing:
border-box;
box-sizing:
border-box;
}

aside,
nav,
footer,
header,
section
{
display:
block;
}

html
{
font-size:
16px;
}

html,
body
{
height:
100%;
min-width:
320px;
}

body
{
line-height:
1;
font-family:
"Roboto"
,
sans-serif;
-ms-text-size-adjust:
100%;
-moz-text-size-adjust:
100%;
-webkit-text-size-adjust:
100%;
}

input,
button,
textarea
{
font-family:
"Roboto"
,
sans-serif;
font-size:
inherit;
}

input::-ms-clear
{
display:
none;
}

button
{
cursor:
pointer;
background-color:
inherit;
}

button::-moz-focus-inner
{
padding:
0;
border:
0;
}

a,
a:visited
{
text-decoration:
none;
}

a:hover
{
text-decoration:
none;
}

ul
li
{
list-style:
none;
}

img
{
vertical-align:
top;
}

h1,
h2,
h3,
h4,
h5,
h6
{
font-weight:
inherit;
font-size:
inherit;
}

body
{
color:
#000;
}

body._lock
{
overflow:
hidden;
}

.wrapper
{
width:
100%;
min-height:
100%;
overflow:
hidden;
display:
-webkit-box;
display:
-ms-flexbox;
display:
flex;
-webkit-box-orient:
vertical;
-webkit-box-direction:
normal;
-ms-flex-direction:
column;
flex-direction:
column;
}

._container
{
max-width:
1440px;
margin:
0
auto;
}

.btn
{
display:
-webkit-inline-box;
display:
-ms-inline-flexbox;
display:
inline-flex;
padding:
0px
0px;
}

.btn._fw
{
width:
100%;
}

.select
{
position:
relative;
}

.select__item
{
position:
relative;
}

.select__title
{
color:
#000;
border:
1px
solid
#d9d9d9;
background-color:
#fff;
cursor:
pointer;
border-radius:
4px;
}

.select__value
{
display:
-webkit-box;
display:
-ms-flexbox;
display:
flex;
font-size:
14px;
height:
30px;
padding:
0px
15px;
-webkit-box-align:
center;
-ms-flex-align:
center;
align-items:
center;
-webkit-box-pack:
justify;
-ms-flex-pack:
justify;
justify-content:
space-between;
-webkit-box-orient:
horizontal;
-webkit-box-direction:
reverse;
-ms-flex-direction:
row-reverse;
flex-direction:
row-reverse;
}

.select__value
span
{
height:
1em;
overflow:
hidden;
display:
-webkit-box;
-webkit-line-clamp:
1;
-webkit-box-orient:
vertical;
}

.select__value:before
{
content:
""
;
display:
inline-block;
-webkit-transition:
all
0.3s
ease
0s;
-o-transition:
all
0.3s
ease
0s;
transition:
all
0.3s
ease
0s;
width:
11px;
height:
7px;
background:
url
(
"../img/icons/select.svg"
)
center

/
100
%
no-repeat

;
}

.select__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
}

.select__options {
    color: #000;
    position: absolute;
    top: 29px;
    border-radius: 0 0 4px 4px;
    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    font-size: 14px;
    padding: 10px 0px 5px 0px;
}

.select__option {
    cursor: pointer;
    padding: 5px 15px;
    margin: 0px 0px 0px 0px;
}

.select._active {
    z-index: 5;
}

.select._active .select__value:before {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.select._active .select__options {
    display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
    outline: none;
}

.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0px 20px;
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}

.checkbox {
    position: relative;
}

.checkbox__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
    background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
}

.checkbox__text:before {
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0px 14px 0px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    left: 0;
    top: 0;
    width: 20px;
    height: 18px;
    background: #fff;
    border: 1px solid #a7a9ac;
}

.checkbox a {
    color: #fff;
    text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
    border: 1px solid #ee1212;
}

.options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.options__item {
    position: relative;
    cursor: pointer;
}

.options__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    left: 0;
    top: 0;
    visibility: hidden;
}

.options__input:checked + .options__text:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.options__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
}

.options__text:before {
    content: "";
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0px 14px 0px 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    left: 0;
    top: 0;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    background: #fff;
    border: 1px solid #a7a9ac;
}

.options__text:after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #77243a;
    position: absolute;
    left: 5px;
    top: 4px;
}

.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
    opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffd300;
}

.rating__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.quantity {
    width: 88px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    position: relative;
    cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0px 0px 0px -4.5px;
    background-color: #a6a6a6;
    width: 9px;
    height: 1px;
}

.quantity__button_plus::before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.quantity__input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.quantity__input input {
    height: 100%;
    color: #a6a6a6;
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.hero {
    padding: 86px 0 221px;
    min-height: 820px;
}

.hero__content {
    position: relative;
}

.hero__pic {
    margin-left: auto;
    margin-right: 50px;
    position: relative;
    max-width: 488px;
    padding: 0px 0px 40% 0px;
    z-index: -1;
}

.hero__pic img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0;
}

.hero__text {
    position: absolute;
    top: 305px;
    left: 7%;
}

.hero__title {
    z-index: 12;
    font-weight: 400;
    font-size: 84px;
    line-height: 154.7619047619%;
    color: #000;
}

.hero__link {
    font-weight: 400;
    font-size: 17px;
    line-height: 164.7058823529%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__link svg {
    margin-left: 15px;
    width: 55px;
    height: 17px;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero__link:hover svg {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.links__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.links__left,
.links__right {
    position: relative;
}

.links__link-left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.links__link-right {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.links__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 155.5555555556%;
    text-align: center;
    color: #000;
    background-color: #ffbcbc;
    padding: 40px 80px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.links__link:hover {
    background-color: #ffa3a3;
}

.stock {
    padding: 195px 0;
}

.stock__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}

.stock__top-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
    color: #000;
}

.stock__top-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.stock__top-link:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.stock__items {
    padding-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stock__column {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.stock__column:hover {
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 17px -16px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 8px 17px -16px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    overflow: hidden;
}

.stock__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
}

.stock__item-pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 254px;
    flex: 0 0 254px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.stock__item-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.stock__item-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000;
}

.stock__item-sub {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
}

.stock__item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.bestseller {
    padding: 195px 0;
}

.bestseller__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}

.bestseller__top-title {
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
    color: #000;
}

.bestseller__top-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.bestseller__top-link:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.bestseller__items {
    padding-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bestseller__column {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.bestseller__column:hover {
    cursor: pointer;
    -webkit-box-shadow: 8px 8px 17px -16px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 8px 17px -16px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    overflow: hidden;
}

.bestseller__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
}

.bestseller__item-pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 254px;
    flex: 0 0 254px;
    overflow: hidden;
}

.bestseller__item-pic img {
    max-width: 100%;
}

.bestseller__item-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000;
}

.bestseller__item-sub {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
}

.bestseller__item-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

.particular {
    background-color: #aabad0;
}

.particular__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.particular__pic {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 648px;
    flex: 0 0 648px;
    height: 620px;
    overflow: hidden;
}

.particular__pic img {
    max-width: 100%;
}

.particular__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding-left: 75px;
}

.particular__name {
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: #000;
}

.particular__title {
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    color: #000;
}

.particular__sub {
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #000;
}

.particular__button {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.5555555556%;
    text-align: center;
    color: #000;
    background-color: #ffbcbc;
    padding: 46px 67px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
}

.particular__button:hover {
    background-color: #ffa3a3;
}

.brands {
    padding: 166px 0;
}

.brands__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #000;
}

.brands__top-title {
    font-weight: bo700ld;
    font-size: 70px;
    line-height: 108px;
    color: #000;
}

.brands__top-link {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.brands__top-link:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

.brands__bottom {
    padding-top: 94px;
}

.brands__bottom-top {
    margin-bottom: 70px;
}

.weare {
    padding: 150px 0;
}

.weare__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.weare__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
    color: #000;
}

.weare__text {
    margin-bottom: 30px;
    max-width: 470px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
}

.weare__text:last-child {
    margin-bottom: 0;
}

.weare__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.weare__pic {
    margin-right: 21%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 420px;
    flex: 0 0 420px;
    height: 490px;
    overflow: hidden;
}

.weare__pic img {
    max-width: 100%;
}

.row:after {
    display: block;
    content: "";
    clear: both;
}

.rub:after {
    content: "₽";
}

ol.counter {
    list-style-type: none;
    counter-reset: item;
}

ol.counter li {
    position: relative;
    padding: 0px 0px 0px 45px;
}

ol.counter li:before {
    counter-increment: item;
    content: counter(item);
    position: absolute;
    left: 0;
    top: 0;
    color: #818181;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 1px solid #4274bb;
}

.ellipsis {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.es {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.table {
    display: table;
    font-size: 0;
    width: 100%;
}

.trow {
    display: table-row;
}

.cell {
    display: table-cell;
}

.cell.full {
    width: 100%;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

body.ie ._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body.ie ._ibg img {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

._video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

._more-content {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

._more-link {
    cursor: pointer;
}

._more-link span {
    font-style: normal;
}

._more-link span:first-child {
    display: block;
}

._more-link span:last-child {
    display: none;
}

._more-link._active span {
    font-style: normal;
}

._more-link._active span:first-child {
    display: none;
}

._more-link._active span:last-child {
    display: block;
}

#map {
    background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
    overflow: hidden;
}

._swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
    display: none !important;
}

._tabs-block {
    display: none;
}

._tabs-block._active {
    display: block;
}

.mirror {
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.nicescroll-rails {
    z-index: 1000 !important;
}

._custom-scroll {
    position: fixed;
    right: 0;
    top: 0;
    width: 3px;
    height: 100%;
    z-index: 1000;
}

._custom-scroll__line {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px 0 0 3px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.popup {
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    padding: 30px 10px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: visibility 0.8s ease 0s;
    -o-transition: visibility 0.8s ease 0s;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
}

.popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease 0s;
    -o-transition: opacity 0.8s ease 0s;
    transition: opacity 0.8s ease 0s;
}

.popup.show {
    visibility: visible;
    overflow: auto;
}

.popup.show::before {
    opacity: 1;
}

.popup.show .popup__body {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup._active {
    overflow: auto;
    visibility: visible;
}

.popup._active::before {
    opacity: 1;
}

.popup._active .popup__body {
    -webkit-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.popup__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.popup__body {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 50px;
    width: 100%;
    max-width: 800px;
}

.popup__close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 30;
    background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
    margin-top: 15px;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 68px;
    border: 2px solid #000;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 154.5454545455%;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.header__link:hover {
    background-color: #ffbcbc;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
    padding: 35px 73px 24px;
    background-color: #aabad0;
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__top-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}

.footer__inner-box {
    -ms-flex-preferred-size: 68%;
    flex-basis: 68%;
    padding: 36px 0;
    padding-right: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__inner-list {
    margin-bottom: 20px;
}

.footer__inner-list:last-child {
    margin-bottom: 0;
}

.footer__inner-title {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #000;
}

.footer li {
    margin-bottom: 10px;
}

.footer li:last-child {
    margin-bottom: 0;
}

.footer__inner-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.footer__inner-link:hover {
    color: #ffbcbc;
}

.footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer__bottom-author {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}

.footer__bottom-link {
    color: inherit;
    text-decoration: underline;
}

.footer__bottom-links {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #000;
}

.page {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-link {
    font-weight: 400;
    font-size: 59px;
    line-height: 69px;
    color: #000;
}

.secondary__link {
    font-weight: 400;
    font-size: 22px;
    line-height: 154.5454545455%;
    color: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.secondary__link:hover {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
}

.header-btn {
    border: 2px solid #000;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    width: 183px;
    display: inline-block;
    padding: 23px 0;
    text-align: center;
}

.header-btn:first-child {
    border-right: 2px solid transparent;
}

.header-btn--mod {
    border-right: 2px solid #000 !important;
}

.subs {
    padding: 36px 0;
    text-align: center;
}

.subs__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000;
}

.subs__form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.subs__form-input {
    padding: 14px;
    background-color: transparent;
    border-bottom: 1px solid #000;
    width: 80%;
}

.subs__form-btn {
    -webkit-transform: translateX(-34px);
    -ms-transform: translateX(-34px);
    transform: translateX(-34px);
}

.contact__links,
.contact__phone,
.contact__email {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin-bottom: 5px;
}

.contact__phone,
.contact__email {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contact__phone:hover,
.contact__email:hover {
    color: #ffbcbc;
}

.contact__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact__links span {
    margin-right: 85px;
}

.contact__links a {
    margin-left: 17px;
}

.contact__links a:first-child {
    margin-left: 0;
}

.contact__links svg {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contact__links svg path {
    fill: #000;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.contact__links svg:hover path {
    fill: #ffbcbc;
}

.contact__email {
    display: block;
}

.pink-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 155.5555555556%;
    text-align: center;
    color: #000;
    background-color: #ffbcbc;
    padding: 40px 80px;
}

@media (min-width: 991.98px) {
    .quantity__button:hover::before,
    .quantity__button:hover::after {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 992px) {
    .select__option:hover {
        background: #d9d9d9;
    }

    .checkbox a:hover {
        text-decoration: none;
    }
}

@media (max-width: 1452px) {
    ._container {
        max-width: 970px;
    }

    .hero__pic {
        padding: 0px 0px 55% 0px;
    }

    .hero__text {
        right: 4%;
    }

    .hero__title {
        font-size: 50px;
    }

    .hero__link {
        font-size: 15px;
    }

    .links__content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .stock {
        padding: 80px 0;
    }

    .stock__top-title {
        font-size: 60px;
    }

    .stock__top-link {
        font-size: 15px;
    }

    .bestseller {
        padding: 80px 0;
    }

    .bestseller__top-title {
        font-size: 60px;
    }

    .bestseller__top-link {
        font-size: 15px;
    }

    .particular__content {
        padding-left: 60px;
    }

    .particular__button {
        font-size: 14px;
        padding: 40px 60px;
    }

    .brands {
        padding: 80px 0;
    }

    .brands__top-title {
        font-size: 60px;
    }

    .brands__top-link {
        font-size: 15px;
    }

    .brands__bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .weare {
        padding: 80px 0;
    }

    .weare__title {
        font-size: 60px;
    }

    .weare__pic {
        margin-right: 0;
    }

    .header__menu {
        padding: 0;
    }

    .header__menu-link {
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {
    ._container {
        max-width: 750px;
    }

    .select__title {
        font-size: 18px;
    }

    .select__options {
        font-size: 18px;
    }

    .hero__pic {
        padding: 0px 0px 70% 0px;
        max-width: 400px;
    }

    .particular__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .particular__content {
        padding-left: 0;
        padding: 20px;
        text-align: center;
    }

    .particular__title {
        font-size: 60px;
    }

    .particular__sub {
        margin-bottom: 40px;
    }

    .weare__title {
        font-size: 50px;
        margin-bottom: 0;
    }

    .weare__text {
        font-size: 16px;
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .weare__pic {
        height: 410px;
        -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    }

    .header__link {
        font-size: 18px;
    }

    .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__inner-box {
        padding-right: 0;
    }

    .footer__bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .main-link {
        font-size: 59px;
    }

    .secondary__link {
        font-size: 18px;
    }

    .header-btn {
        padding: 18px 0;
        width: 135px;
    }

    .subs {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }

    .contact__links {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media (max-width: 767.98px) {
    ._container {
        max-width: none;
        padding: 0 10px;
    }

    .hero {
        min-height: 670px;
        padding: 86px 0 80px;
    }

    .hero__pic {
        max-width: 400px;
        margin-right: auto;
        margin-top: 100px;
    }

    .hero__text {
        top: -160px;
        text-align: center;
    }

    .hero__title {
        font-size: 40px;
    }

    .links__pic {
        max-height: 500px;
        overflow: hidden;
    }

    .links__link-left {
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        top: 0;
        bottom: auto;
    }

    .links__link-right {
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
        top: 0;
        bottom: auto;
    }

    .links__link {
        padding: 30px 60px;
        font-size: 15px;
    }

    .stock__top-title {
        font-size: 50px;
    }

    .stock__top-link {
        font-size: 14px;
    }

    .stock__items {
        padding-top: 50px;
    }

    .stock__column {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .bestseller__top-title {
        font-size: 50px;
    }

    .bestseller__top-link {
        font-size: 14px;
    }

    .bestseller__items {
        padding-top: 50px;
    }

    .bestseller__column {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .particular {
        padding-bottom: 80px;
    }

    .particular__pic {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 510px;
        flex: 0 0 510px;
    }

    .particular__button {
        padding: 30px 60px;
        font-size: 15px;
        margin-bottom: 40px;
    }

    .brands__top-title {
        font-size: 50px;
    }

    .weare__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .weare__title {
        font-size: 40px;
    }

    .weare__content {
        text-align: center;
    }

    .header__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .header__menu-link {
        padding: 18px 0;
    }

    .footer__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer__inner-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .footer__bottom {
        text-align: center;
    }

    .main-link {
        padding: 10px 0;
    }

    .subs__form-input {
        width: 100%;
    }

    .contact__links a {
        margin-left: auto;
    }

    .contact__links a:last-child {
        margin-left: 15px;
    }

    .contact__links {
        margin: 15px 0;
    }
}

@media (max-width: 479.98px) {
    .hero {
        min-height: 467px;
    }

    .hero__pic {
        padding: 0px 0px 100% 0px;
    }

    .hero__text {
        top: -150px;
    }

    .hero__title {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .hero__link {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .stock {
        padding: 40px 0;
    }

    .stock__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .stock__top-title {
        font-size: 40px;
    }

    .stock__column {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .bestseller {
        padding: 40px 0;
    }

    .bestseller__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .bestseller__top-title {
        font-size: 40px;
    }

    .bestseller__column {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .particular {
        padding-bottom: 0;
    }

    .particular__pic {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    }

    .brands__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .brands__top-title {
        font-size: 40px;
    }

    .footer {
        padding: 35px 25px 24px;
    }

    .footer__top-text {
        font-size: 14px;
    }

    .footer__inner-subs {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .header-btn {
        width: 100px;
    }

    .contact__links,
    .contact__phone,
    .contact__email {
        font-size: 14px;
    }

    .contact__links span {
        margin-right: 30px;
    }
}